LinkedIn_Radar_IMPORTABLE.json
{
  "name": "LinkedIn Content Radar - Importable",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "// Generate Run ID and Timestamp\nconst runId = `run_${Date.now()}_${Math.random().toString(36).substring(2, 9)}`;\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    runId,\n    timestamp,\n    status: 'started'\n  }\n}];"
      },
      "id": "2",
      "name": "Generate Run ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "creators",
              "value": "=[\"https://www.linkedin.com/in/agrim-goyal\",\"https://www.linkedin.com/in/jessievanbreugel\",\"https://www.linkedin.com/in/domingo-valadez\",\"https://www.linkedin.com/in/arthur-morin-girard-824294357\",\"https://www.linkedin.com/in/leadgenwiz\",\"https://www.linkedin.com/in/antonyslumbers\",\"https://www.linkedin.com/in/ottotatton\",\"https://www.linkedin.com/in/nielsklement\",\"https://www.linkedin.com/in/jonathan-peslar\",\"https://www.linkedin.com/in/nicholas-puruczky-113818198\",\"https://www.linkedin.com/in/brandonpassley\",\"https://www.linkedin.com/in/mattlakajev\",\"https://www.linkedin.com/in/duncanrogoff\",\"https://www.linkedin.com/in/teddy-james\",\"https://www.linkedin.com/in/jason-ratcliff-8a416014b\",\"https://www.linkedin.com/in/matt-yellin\",\"https://www.linkedin.com/in/jakeheller1\",\"https://www.linkedin.com/in/jaindl\",\"https://www.linkedin.com/in/tomos-ormsby-63592134b\",\"https://www.linkedin.com/in/toprealestateappraiser\",\"https://www.linkedin.com/in/santosh-srinivas-n0c0de\",\"https://www.linkedin.com/in/michel-lieben\",\"https://www.linkedin.com/in/ivanfalco\",\"https://www.linkedin.com/in/alex-vacca\",\"https://www.linkedin.com/in/grycz-monika\"]",
              "type": "array"
            }
          ]
        }
      },
      "id": "3",
      "name": "Load 25 Creator URLs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "fieldToSplitOut": "creators",
        "options": {}
      },
      "id": "4",
      "name": "Split Creators",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "// Rate Limit: Random delay 2-5 seconds\nconst delay = Math.floor(Math.random() * 3000) + 2000;\nawait new Promise(resolve => setTimeout(resolve, delay));\n\nreturn [$input.item];"
      },
      "id": "5",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "// BRIGHT DATA SCRAPER - Configure this!\n// Get environment variables\nconst creatorUrl = $input.item.json.creators;\nconst token = $env.BRIGHTDATA_TOKEN;\nconst maxRetries = 3;\n\nlet attempt = 0;\nlet lastError = null;\n\n// Retry loop\nwhile (attempt < maxRetries) {\n  try {\n    const response = await fetch('https://api.brightdata.com/dca/collect', {\n      method: 'POST',\n      headers: {\n        'Authorization': `Bearer ${token}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({\n        url: creatorUrl,\n        format: 'json',\n        render: 'html',\n        wait_for_selector: '.feed-shared-update-v2'\n      })\n    });\n\n    if (response.ok) {\n      const data = await response.json();\n      return [{\n        json: {\n          creatorUrl,\n          scraped: true,\n          data,\n          attempt: attempt + 1\n        }\n      }];\n    }\n\n    // Retry on transient errors\n    if ([408, 429, 500, 502, 503, 504].includes(response.status)) {\n      attempt++;\n      const backoff = Math.pow(2, attempt) * 1000 + Math.random() * 1000;\n      await new Promise(resolve => setTimeout(resolve, backoff));\n      continue;\n    }\n\n    throw new Error(`HTTP ${response.status}`);\n  } catch (error) {\n    lastError = error.message;\n    attempt++;\n    if (attempt >= maxRetries) break;\n    const backoff = Math.pow(2, attempt) * 1000;\n    await new Promise(resolve => setTimeout(resolve, backoff));\n  }\n}\n\nreturn [{\n  json: {\n    creatorUrl,\n    scraped: false,\n    error: lastError,\n    attempts: maxRetries\n  }\n}];"
      },
      "id": "6",
      "name": "Bright Data Scraper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse Bright Data response\nconst item = $input.item.json;\n\nif (!item.scraped) {\n  return [];\n}\n\nconst data = item.data;\nconst creatorUrl = item.creatorUrl;\nconst username = creatorUrl.split('/in/')[1];\n\nconst posts = [];\n\nif (data && data.posts && Array.isArray(data.posts)) {\n  for (const post of data.posts) {\n    posts.push({\n      json: {\n        creator: username,\n        creatorUrl,\n        creatorName: data.name || username,\n        postText: post.text || '',\n        postUrl: post.url || '',\n        postedDate: post.date || new Date().toISOString(),\n        likes: post.likes || 0,\n        comments: post.comments || 0,\n        isReshare: post.isReshare || false\n      }\n    });\n  }\n}\n\nreturn posts;"
      },
      "id": "7",
      "name": "Parse Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "jsCode": "// Filter: 7 days, 100+ likes, no reshares\nconst posts = $input.all();\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);\n\nconst filtered = posts.filter(item => {\n  const post = item.json;\n  const postDate = new Date(post.postedDate);\n  return postDate >= sevenDaysAgo && post.likes >= 100 && !post.isReshare;\n});\n\nreturn filtered;"
      },
      "id": "8",
      "name": "Filter Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "jsCode": "// Deduplication by URL\nconst posts = $input.all();\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of posts) {\n  const postUrl = item.json.postUrl;\n  if (!seen.has(postUrl)) {\n    seen.add(postUrl);\n    unique.push(item);\n  }\n}\n\nreturn unique;"
      },
      "id": "9",
      "name": "Deduplication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "jsCode": "// OPENAI SCORING - Configure API key!\nconst post = $input.item.json;\nconst apiKey = $env.OPENAI_API_KEY;\n\nconst prompt = `Analyze this LinkedIn post:\n\nPOST: ${post.postText}\nAUTHOR: ${post.creatorName}\nLIKES: ${post.likes}\n\nRate:\n1. Relevance (1-5): AI/automation relevance\n2. Value (1-5): Actionable value\n3. Lead Magnet: Downloadable resource idea?\n\nRespond with JSON only:\n{\n  \"relevanceScore\": 1-5,\n  \"valueDepthScore\": 1-5,\n  \"leadMagnetSuggestion\": \"string or null\"\n}`;\n\ntry {\n  const response = await fetch('https://api.openai.com/v1/chat/completions', {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${apiKey}`,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'gpt-4',\n      messages: [\n        { role: 'system', content: 'You are a content analyst. Respond with JSON only.' },\n        { role: 'user', content: prompt }\n      ],\n      temperature: 0.3,\n      max_tokens: 200\n    })\n  });\n\n  const result = await response.json();\n  const scores = JSON.parse(result.choices[0].message.content);\n\n  return [{\n    json: {\n      ...post,\n      relevanceScore: scores.relevanceScore,\n      valueDepthScore: scores.valueDepthScore,\n      finalScore: (scores.relevanceScore * 2) + (scores.valueDepthScore * 3),\n      leadMagnetSuggestion: scores.leadMagnetSuggestion,\n      openaiTokens: result.usage.total_tokens\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      ...post,\n      relevanceScore: 0,\n      valueDepthScore: 0,\n      finalScore: 0,\n      leadMagnetSuggestion: null,\n      error: error.message\n    }\n  }];\n}"
      },
      "id": "10",
      "name": "OpenAI Score Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "jsCode": "// Sort by final score\nconst posts = $input.all();\nposts.sort((a, b) => b.json.finalScore - a.json.finalScore);\nconst top15 = posts.slice(0, 15);\nreturn top15;"
      },
      "id": "11",
      "name": "Rank Top 15",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 400]
    },
    {
      "parameters": {
        "jsCode": "// Select top 7\nconst top15 = $input.all();\nconst top7 = top15.slice(0, 7);\nreturn top7;"
      },
      "id": "12",
      "name": "Select Top 7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "jsCode": "// OPENAI GENERATE - Configure API key!\nconst post = $input.item.json;\nconst apiKey = $env.OPENAI_API_KEY;\n\nconst prompt = `Create a NEW LinkedIn post inspired by:\n\nORIGINAL:\n${post.postText}\n\nSTATS: ${post.likes} likes\n\nREQUIREMENTS:\n- First person, conversational\n- AI/automation focus\n- Hook in first line\n- 150-250 words\n- 3-5 hashtags\n- Don't copy - create new value`;\n\ntry {\n  const response = await fetch('https://api.openai.com/v1/chat/completions', {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${apiKey}`,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'gpt-4',\n      messages: [\n        { role: 'system', content: 'You are a LinkedIn content creator.' },\n        { role: 'user', content: prompt }\n      ],\n      temperature: 0.7,\n      max_tokens: 500\n    })\n  });\n\n  const result = await response.json();\n  const generatedPost = result.choices[0].message.content;\n\n  return [{\n    json: {\n      rank: $item(0).$index + 1,\n      creator: post.creatorName,\n      originalUrl: post.postUrl,\n      originalLikes: post.likes,\n      relevanceScore: post.relevanceScore,\n      valueDepthScore: post.valueDepthScore,\n      finalScore: post.finalScore,\n      generatedPost,\n      leadMagnet: post.leadMagnetSuggestion,\n      weekOf: new Date().toISOString().split('T')[0]\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      ...post,\n      generatedPost: null,\n      error: error.message\n    }\n  }];\n}"
      },
      "id": "13",
      "name": "OpenAI Generate Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "Generated Posts",
        "columns": {
          "mappings": [
            {
              "column": "Rank",
              "value": "={{ $json.rank }}"
            },
            {
              "column": "Creator",
              "value": "={{ $json.creator }}"
            },
            {
              "column": "Original URL",
              "value": "={{ $json.originalUrl }}"
            },
            {
              "column": "Likes",
              "value": "={{ $json.originalLikes }}"
            },
            {
              "column": "Relevance Score",
              "value": "={{ $json.relevanceScore }}"
            },
            {
              "column": "Value Score",
              "value": "={{ $json.valueDepthScore }}"
            },
            {
              "column": "Final Score",
              "value": "={{ $json.finalScore }}"
            },
            {
              "column": "Generated Post",
              "value": "={{ $json.generatedPost }}"
            },
            {
              "column": "Lead Magnet",
              "value": "={{ $json.leadMagnet }}"
            },
            {
              "column": "Week Of",
              "value": "={{ $json.weekOf }}"
            }
          ]
        }
      },
      "id": "14",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [3100, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Generate Run ID", "type": "main", "index": 0}]]
    },
    "Generate Run ID": {
      "main": [[{"node": "Load 25 Creator URLs", "type": "main", "index": 0}]]
    },
    "Load 25 Creator URLs": {
      "main": [[{"node": "Split Creators", "type": "main", "index": 0}]]
    },
    "Split Creators": {
      "main": [[{"node": "Rate Limit Delay", "type": "main", "index": 0}]]
    },
    "Rate Limit Delay": {
      "main": [[{"node": "Bright Data Scraper", "type": "main", "index": 0}]]
    },
    "Bright Data Scraper": {
      "main": [[{"node": "Parse Posts", "type": "main", "index": 0}]]
    },
    "Parse Posts": {
      "main": [[{"node": "Filter Posts", "type": "main", "index": 0}]]
    },
    "Filter Posts": {
      "main": [[{"node": "Deduplication", "type": "main", "index": 0}]]
    },
    "Deduplication": {
      "main": [[{"node": "OpenAI Score Posts", "type": "main", "index": 0}]]
    },
    "OpenAI Score Posts": {
      "main": [[{"node": "Rank Top 15", "type": "main", "index": 0}]]
    },
    "Rank Top 15": {
      "main": [[{"node": "Select Top 7", "type": "main", "index": 0}]]
    },
    "Select Top 7": {
      "main": [[{"node": "OpenAI Generate Posts", "type": "main", "index": 0}]]
    },
    "OpenAI Generate Posts": {
      "main": [[{"node": "Google Sheets", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-25T00:00:00.000Z",
  "versionId": "importable-v1"
}
